[Service]
# FIXME: uncomment in systemd/bullseye-backports.
#ExecSearchPath=/usr/local/bin/usr/bin:/bin:%h/.local/bin
ExecStart=%h/.local/bin/nag2al-wrapper

Type=oneshot
WorkingDirectory=%h
